Repository infiniteflight/infiniteflight-docs, pull requests merged in 2022-11, with the labels that each got.

#605 Staging Update
  _images/manual/frames/map-227-v2.png
  _images/manual/frames/map-227-v2@2x.png
  _images/manual/frames/map-227-v2@3x.png
  _images/manual/frames/map-227.png
  _images/manual/frames/map-227@2x.png
  _images/manual/frames/map-227@3x.png
  _images/manual/frames/map2-227-v2.png
  _images/manual/frames/map2-227-v2@2x.png
  _images/manual/frames/map2-227-v2@3x.png
  _images/manual/frames/map2-227.png
  _images/manual/frames/map2-227@2x.png
  _images/manual/frames/map2-227@3x.png
  getting-started-guide/pilot-user-interface/flight-planning.md
Labels: Type: Feature Request, Type: Typo, Guide: Getting Started, Priority: Medium

#589 Added manual reference (3.4.1)
  flying-guide/atc-communication/remaining-in-the-pattern.md
Labels: Type: Feature Request, Guide: Flying, Priority: Low

#590 Added tip to distinguish left and right traffic
  atc-guide/tower/inbounds.md
Labels: Type: Feature Request, Guide: ATC, Priority: Low

#607 Staging Update
  atc-manual/1a.-administration/1a.2-discord-rules.md
  atc-manual/1a.-administration/1a.8-disciplinary-and-suspension-procedure.md
  scenery-editor-manual/11.-review-and-release/11.1-review-and-release-process 2.md
  scenery-editor-manual/11a.-reviewers/11a.1-overview.md
  scenery-editor-manual/11a.-reviewers/11a.2-reviewer-admin.md
  scenery-editor-manual/1a.-administration/1a.1-discord-communication.md
  scenery-editor-manual/1a.-administration/1a.2-discord-rules.md
  scenery-editor-manual/1a.-administration/1a.3-rank-structure.md
  scenery-editor-manual/1a.-administration/1a.4-airport-assignments.md
  scenery-editor-manual/1a.-administration/1a.5-disciplinary-and-suspension-procedure.md
  scenery-editor-manual/2.-user-interface/2.1-editor-screen.md
Labels: Type: Feature Request, Guide: Aircraft/Scenery, Priority: Medium
